
body {
  background: #EDF0F5;
  color: #6A6C6F;
  font-family: Roboto, sans-serif;
}

.navbar {
  margin-bottom: 40px;
}

.navbar-default {
  background-color: #fff;
  border-color: #e4e5e7;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
    border-left: 1px solid #E4E5E7;
}

.navbar-default .navbar-nav>li>a:focus, 
.navbar-default .navbar-nav>li>a:hover {
    background-color: #F7F8FA;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #333;
    background-color: #ECEFF1;
}

.navbar-default #logo {
  background-color: #F7F9FA;
  color: #34495E;
}

.table>thead>tr>th {
  color: #009688;
}

label {
  color: #009688;
}

.panel {
  padding: 20px;
}

h2 {
  margin-top: 0;
  color: #34495E;
}